{
  "TOKEN": "MTEwMDEzNjM2NjY0NzU1NDE0OA.GIvEqH.Y0Q7VFX0j6ga8wk4rFCZxW929mVmDY36XYmCYU"
  "YOUTUBE_API_KEY": "AIzaSyA_JVbwwo1eOrS8gRZzBhuLfBescXpCRyU",
  "SOUNDCLOUD_CLIENT_ID": "",
  "MAX_PLAYLIST_SIZE": 10,
  "PREFIX": "T/",
  "PRUNING": false,
  "LOCALE": "en",
  "STAY_TIME": 30,
  "DEFAULT_VOLUME": 100
}
